<div class="quiz-start-wrapper">
  <div class="row">
    <div class="col text-center">
      <h1>Select Your Character</h1>
    </div>
  </div>
  <%= form_tag('/quiz/start', method: 'get') do %>
      <div class="row">
        <div class="col">
          <%= hidden_field_tag 'group_id', @group.id%>

          <label>
            <%= radio_button_tag 'character', '1' %>
            <%= image_tag('1.jpg', class: "img-circle m-x-auto d-block", size: "200x200") %>
          </label>
        </div>
        <div class="col">
          <label>
            <%= radio_button_tag 'character', '2' %>
            <%= image_tag('2.jpg', class: "img-circle m-x-auto d-block", size: "200x200") %>
          </label>
        </div>
        <div class="col">
          <label>
            <%= radio_button_tag 'character', '3' %>
            <%= image_tag('3.jpg', class: "img-circle m-x-auto d-block", size: "200x200") %>
          </label>
        </div>
        <div class="col">
          <label>
            <%= radio_button_tag 'character', '4' %>
            <%= image_tag('4.jpg', class: "img-circle m-x-auto d-block", size: "200x200") %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <%= submit_tag 'Ready', :name => nil, class: '"btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
  <% end %>
</div>
